.profile-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #eee;
    padding: 0;
}

.profile-img {
    width: 150px;
}

.card-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    flex-grow: 1;
}
